
/*Home Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
   
    background-color:white;
}

.nav .logo img{
    width: 200px;
    height: 50px;
    margin-left: 50px;
    padding-right: 80px;
    transition: transform 0.5s ease-in-out;

}

.nav .logo img {
    transition: transform 0.5s ease-in-out;
  }
  
  .nav .logo:hover img {
    transform: scale(1.1);
  }

/* menu items*/
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0;
    
}


.nav ul{
    display: flex;
    list-style: none;
   
}

.nav ul li {
    margin-right: 30px;
    padding-right: 50px;
}


.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}


ul li a:hover{
  color:#dc116f ;
}


input{
    padding: 10px 20px;
}

/* Search Button */

.search-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  padding-bottom: 20px;
}

.box {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  margin: 0 10px;
  background-image: url(https://images.pexels.com/photos/6550639/pexels-photo-6550639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.newsletter p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: #dc116f;
  font-size: 15px; 
  line-height: 1.5; 
}

.search h3,
        .newsletter h3 {
            color: #333;
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .recipes input[type="text"],
        .news-letter input[type="email"],
        .news-letter input[type="text"] {
            width: 30%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }      

       
       

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
   
}

.content h1{
    text-decoration: none;
    font-family: sans-serif;
    transition: transform 0.2s ease-in-out;
    font-size: 20px;
    
}

.content h1 :hover{
  color:#dc116f ;
  
}

h1:hover {
    transform: scale(1.05);
    cursor: pointer;
    color:#dc116f ;
}

.content h1 a {
    text-decoration: none;
    color: black;
}

/*Trending Recipe images */
.welcome h1{
  text-align: center;
  padding-bottom: 20px;
}
.Trending h3{
  text-align: center;
  padding-bottom: 15px;
}
  .container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    
  }

.food-images {
    animation: moveLeft 50s linear infinite;
    background-color: aliceblue;
    margin-top: 20px;
    display: flex;
    animation: moveLeft 150s linear infinite;
    text-align: center;

  } 


  .food-images img {
    display: inline-block;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
    border-radius: 18%;
  }

  .food-images img:hover {
    transform: scale(1.1); 

  }
  
  @keyframes moveLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%); /* Moves images 100% to the left */
    }

    }

    


 .trends{
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
 
 }


 .trends  h2 :hover{
  color:#dc116f ;
  
}

h2:hover {
  transform: scale(1.05);
  cursor: pointer;
  color:#dc116f ;
  
}

.trends h2 a{
  text-decoration: none;
  color: black;
}


.one{
   width: 300px;
   height: 350px;
   padding-top: 50px;
   padding-bottom: 10px;
   padding-left: 2px;
   margin-right: 1px;
   border-radius: 100%;
   animation: rotate 15s linear infinite;
}



.three h3{
  font-family: sans-serif;
  font-weight: 800px;
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
     
    }



iframe{
  margin-top: 30px;
  
}

.middle{
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
  border-top: 2px solid #dc116f
  
}

.middle h2 :hover{
  color:#dc116f ;
  
}

.middle  h2 a{
  text-decoration: none;
  color: black;
}

.middle h2{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.chef-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  background-image: url("https://images.pexels.com/photos/4518842/pexels-photo-4518842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  background-repeat: no-repeat;
  position: relative;
}

.chef-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value to control transparency */
}

.chef {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 70px;
 
}


.chef img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  
 
}

.chef img:hover {
  transform: scale(1.1); 
}

.chef h4{
  font-style: italic;
  color: #dc116f;
}

footer {
  border-top: 2px solid #dc116f;
  padding: 20px;
  margin-top: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
}


.five{
  width: 40px;
  height: 40px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links img:hover {
  transform: scale(1.1);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
  
}

.footer-grid-item ul li  {
  list-style: none;
  padding-bottom: 10px;
}

.footer-grid-item ul li a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}


.footer-grid-item li a:hover{
color:#dc116f ;
}

  .footer-grid-item h4{
  font-family: sans-serif;
  align-items: center;
 }

 .Login Box{
 margin-left: 20px;
 }



 /*Browse chef Page */

.middle-1{
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
  border-top: 2px solid #dc116f;
  padding-top: 25px;

}

.middle-1 h2 :hover{
  color:#dc116f ;
  
  
}

.middle-1  h2 a{
  text-decoration: none;
  color: black;
}

.middle-1 h2{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.chef-container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  
}

.chef-1 {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 70px;
 
}


.chef-1 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  
 
}

.chef-1 img:hover {
  transform: scale(1.1); 
}

.chef-1 h4{
  font-style: italic;
  color: #dc116f;
}

/*Browse Recipe Page*/
.view h1{
  text-align: center;
}
.content {
  max-width: 900px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(https://images.pexels.com/photos/301717/pexels-photo-301717.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.end h2{
 text-align: center;

}

.mylist img {
  
  height: 400px;
  width: 400px;
  margin-left: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


/* About Us */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 50px;
  margin-bottom: 50px;

}

.about h2{
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.about p{
  font-family: sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.about-text h3 {
  font-family: sans-serif;
padding-bottom: 10px;
color: #dc116f;
}

.about-text p{
  font-family: sans-serif;
  font-style: italic;

}

.about-image img {
  width: 100%;
  height: 380px;
  margin-right: 10px;
  border-radius: 20px;
}

.about-image img:hover {
  transform: scale(1.1);
}

/* Register Page */

.reg h1{
  text-align: center;
  padding-bottom: 80px;
}

.register-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
   display: flex;
   background-image: url("https://images.pexels.com/photos/1358389/pexels-photo-1358389.jpeg?auto=compress&cs=tinysrgb&w=600");
   background-size: cover; /* Adjust the background size as needed */
  /* Adjust the background position as needed */
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 100px;
  
}



  .Login-box input[type="text"],
  .Login-box input[type="email"],
  .Login-box input[type="password"]{
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dc116f;
    border-radius: 5px;
    box-sizing: border-box;
   
  }

 
  .Login-box form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }


  .Login-box form input,
  .Login-box form button {
    padding: 12px 10px;
    border-radius: 10px;
    
  }

  

  button {
    display: block;
    width: 80px;
    padding: 7px;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.Login-box a{
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
   
}

.Login-box a:hover{
color: black;
}

/* Chef Page */
.tabcontent{
  background-image: url(https://images.pexels.com/photos/10526896/pexels-photo-10526896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  margin-bottom: 50px;
}
.tabcontent h3{
  padding-bottom: 20px;
  padding-left: 300px;
}

.tab {
  overflow: hidden;
}

.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding-left: 200px;
  padding-bottom: 50px;
  color: #dc116f;
}
.tab button {
  background-color:brown;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}
.tab button:hover {
  background-color:purple;
}
.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid purple;
  padding-left: 300px;
}





.profile-info {
  padding-left: 70px;
  font-size: 18px;
  font-weight: bold;
  color: darkred;
  opacity: 0;
  opacity: 0;
  transform: translateY(30px); 
  animation: slideUp 2s ease forwards;
}

@keyframes slideUp {
  0% {
      opacity: 0;
      transform: translateY(30px); 
  }
  100% {
      opacity: 1;
      transform: translateY(0); 
  }
}

.tabcontent img{
padding: 15px;
  width: 300px;
  height: 300px;
  border-radius: 10%;
 
}


/* Login Page*/

.page{
  background-image: url(https://images.pexels.com/photos/776635/pexels-photo-776635.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  margin-bottom: 50px;
}

.welcome h3{
  text-align: center;
}



.login-container {
  display: inline-block;
  padding: 20px;
  margin-left: 300px;
  margin-top: 50px;

}

.input-with-person-icon {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px; 
}

.input-with-password-icon {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px; /* Adjust according to your icon width */
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.button:hover {
  background-color: #45a049;
}

.forgot p{
  margin-left: 313px;
}

.forgot1 a{
  
  margin-left: 313px;
}


/* contact us page */


.contact-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  
}


.contact {
  display: grid;
  grid-gap: 20px;
}

.contact-container h2 {
  text-align: center;
}

.type{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.channels{
  display: flex;
  justify-content: space-between;
}

.channels img{
  width: 60px;
  height: 60px;
}

.chat h4{
  text-align: center;
  
}


/* Admin Dashboard */
.panel{
  margin-bottom: 50px;
  background-image: url(https://images.unsplash.com/photo-1514483127413-f72f273478c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.panel h1{
  text-align: center;
  padding-bottom: 10px;
  color: #dc116f;
}

.entity-container1{
padding-left: 500px;
}
.entity-container1 h2{
  color: #dc116f;
  padding-left: 200px;
  padding-bottom: 5px;
}
.entity-list {
  color: #dc116f;
  list-style: none;
  padding: 0;
}

.entity-list li {
  display: inline-block;
  margin-right: 10px; 
}

.entity-container2{
  padding-left: 10px;
  }
  .entity-container2 h2{
    color: #dc116f;
    margin-top: 20px;
    padding-left: 700px;
    padding-bottom: 5px;
  }
  
  .entity-container3{
    padding-left: 10px;
    }

    .entity-container3 h2{
      margin-top: 20px;
      padding-left: 700px;
      padding-bottom: 5px;
      color: #dc116f;
    }

    .summary-table{
      text-align: center;
      padding-left: 500px;
      padding-bottom: 10px;
      color: #dc116f;
    }